[submodule "ppap"]
	path = ppap
	url = https://github.com/KiJeong-Lim/ppap.git
[submodule "DschingisKhan"]
	path = DschingisKhan
	url = https://github.com/KiJeong-Lim/DschingisKhan.git
[submodule "Fol-archived"]
	path = Fol-archived
	url = https://github.com/KiJeong-Lim/Fol-archived.git
